
.navbar {
  top: 0;
  z-index: 100;
  position: fixed !important;
}

.navbar-inner {
  max-height: 40px;
  white-space: nowrap;
  padding: 0 10px;
}

@media (max-width: 480px) {
  .navbar .nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#table-container {
  margin-top: 40px;
}

img {
  max-width: inherit;
}
